
<h1>Hello {{result.nickname}}, Welcome to your profile</h1>

<h2>Your Blogs</h2>
<div>
  {{#each userResult}}
  {{#if blogWriter}}
    <h3>{{this.episodeId.seriesName}} Season: {{this.episodeId.seriesSeason}} Episode: {{this.episodeId.seriesEpisode}}</h3>
    <h4>{{this.comment}}</h4>
    <a href="{{this.episodeId.blogUrl}}">View Episode Page</a>
    {{log this.episodeId.blogUrl}}
    {{/if}}
  {{/each}}
</div>





