<div class="season-main">
  <div>
    <img src="https://image.tmdb.org/t/p/w185{{seasonData.poster_path}}" alt="">
  </div>
  <h1>{{seasonData.name}}</h1>
  <div class="season-flex">
    {{#each episodesData}}
    <div>
      <a href="/{{this.air_date}}/{{this.id}}/{{this.name}}/{{this.still_path}}/{{this.season_number}}">
      <h4>{{this.name}}</h4>
      </a>
    </div> 
    {{/each}} 
  </div>
</div>
