  
<h1>{{data.name}}</h1>
<img src="https://image.tmdb.org/t/p/w185{{data.poster_path}}" alt="">

<div>
   
{{#each seasons}}
<a href="/search/{{id}}/{{this.season_number}}/{{seriesName}}">
   <h2> {{this.name}}</h2>
</a>

{{/each}}
      
  </div>

