<div class="blog-main">
<h1>TV Blog</h1>
<h2>{{eppShowName}}</h2>
<h2>Season {{seasonName}}</h2>
<h3>{{eppName}}</h3>
<div class="blog-individual">
  {{#if blogValue}}
    {{#each blogValue}}
      <h5>{{myNickname}}</h5>
      <p>{{this.comment}}</p>
      {{#if this.blogOwner}}
      <div>
        <a href="/{{airDate}}/{{epId}}/{{eppName}}/{{eppShowName}}/{{seasonName}}/{{this._id}}/edit">
          <button type="button" class="btn btn-outline-secondary">Edit</button>
        </a>
        <form action="/{{this._id}}/delete" method="POST">
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </form>
      </div> 
      {{/if}}
    {{/each}}
  {{/if}}
</div class="blog-create-form">
  <form action="/{{airDate}}/{{epId}}/{{eppName}}/{{eppShowName}}/{{seasonName}}" method="POST">
  <div class="form-group">
      <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" placeholder="Write your Blog here"  rows="3"></textarea>
  </div>
      <button type="submit" class="btn btn-outline-dark">Post</button>
  </form>
</div>